<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>863578598228-atrkk2vo2ko697mb21j2611l67vpigbl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.863578598228-atrkk2vo2ko697mb21j2611l67vpigbl</string>
	<key>API_KEY</key>
	<string>AIzaSyBQmrjL7jIvl9TDySZLpV5ivMtDkQ1WttU</string>
	<key>GCM_SENDER_ID</key>
	<string>863578598228</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>fr.explorea.exploreapp</string>
	<key>PROJECT_ID</key>
	<string>exploreapp-233637313319425</string>
	<key>STORAGE_BUCKET</key>
	<string>exploreapp-233637313319425.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:863578598228:ios:47423e992360498a9236c1</string>
</dict>
</plist>